/**
 * 覆盖 element-plus 的某些样式
 */
 @import 'var.scss';

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-container {
  height: 100%;
  position: relative;
}

.el-scrollbar {
  height: 100%;

  .el-scrollbar__wrap {
    overflow-x: auto;
  }
}

.el-message-box__content {
  word-break: break-all;
}

.el-form--inline {
  .el-form-item {
    width: 260px;
  }

  .el-select,
  .el-input {
    width: 100%;
  }
}

.el-table {
  --el-table-header-background-color: #f3f5f9;

  .sort-caret.ascending {
    top: 0;
  }

  .sort-caret.descending {
    bottom: 0;
  }

  .caret-wrapper {
    height: 22px;
  }

  .is-sortable .cell {
    height: 23px;
  }

  .cell {
    img {
      cursor: pointer;
      display: inline-block;
      height: 35px;
      max-width: 100%;
      vertical-align: middle;
    }
  }
}

.el-menu--popup {
  padding: 0;
}

.el-form--label-top .el-form-item__label {
  padding: 0;
  height: 35px;
  line-height: 35px;
}

.menu-container,
.el-menu--vertical {
  .el-menu .el-menu-item:hover {
    background-color: var(--ts-menu-hover);
  }

  .el-menu {
    background-color: var(--ts-header);
    color: var(--ts-menu-txt);

    .el-menu-item,
    .el-sub-menu__title {
      height: 50px;
      line-height: 50px;
    }

    .el-sub-menu__title {
      color: var(--ts-menu-txt);

      &:hover {
        color: var(--ts-menu-txt-hover);
        background-color: var(--ts-menu-hover);
      }

      i {
        color: var(--ts-menu-txt);
        transition: color 0.3s;
      }
    }

    .el-sub-menu.g-submenu.is-active {
      color: var(--ts-menu-txt-active);

      & > .el-sub-menu__title {
        color: var(--ts-menu-txt-active);

        i {
          color: var(--ts-menu-txt-active);
        }
      }
    }

    .el-sub-menu .el-menu {
      background-color: var(--ts-menu-sub);
    }

    .el-menu-item {
      color: var(--ts-menu-txt);

      i {
        color: var(--ts-menu-txt);
        transition: color 0.3s;
      }

      &.is-active {
        color: var(--ts-menu-txt-active);
        background-color: var(--ts-menu);

        i {
          color: var(--ts-menu-txt-active);
        }
      }

      &:not(.is-active):hover {
        outline: 0;
        color: var(--ts-menu-txt-hover);
      }

    }
  }
}

.el-menu--collapse {
  width: 62px;
}

.el-loading-mask {
  z-index: 1000;
}

.el-transfer-panel__item {
  display: block;
}

.el-table-column--selection .cell {
  height: 23px;

  .el-checkbox {
    height: 23px;
  }
}

.el-table--mini {
  td,
  th {
    padding: 3px 0;
  }
}

.mobile .el-table .el-table-fixed-column--right {
  z-index: var(--el-table-index) !important;
}

// dark 表格右侧固定列
.dark {
  .el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell.el-table-fixed-column--right {
    background: #1D1D1D;
  }
  .el-table th.el-table__cell.is-leaf, .el-table td.el-table__cel.el-table-fixed-column--right {
    background: #141414;
  }
  .el-table--striped .el-table__body tr.el-table__row.hover-row td.el-table__cell.el-table-fixed-column--right {
    background: #262626;
  }
}

.g-table {
  .el-table__row {
    td:last-child {
      .cell {
        padding: 0 10px;
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}
@mixin button-colors($normal, $hover, $active, $focus: $hover) {
  color: $normal;

  &:hover {
    color: $hover;
  }

  &:focus {
    color: $focus;
  }

  &:active {
    color: $active;
  }
}

.el-button--text {
  background: 0 0;
  padding-left: 0;
  padding-right: 0;

  &:hover,
  &:focus {
    border-color: transparent;
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }

  &.default {
    @include button-colors($normal: var(--ts-primary), $hover: #38568b, $active: #242d4d);
  }

  &.success {
    @include button-colors($normal: #67c23a, $hover: #85ce61, $active: #5daf34);
  }

  &.info {
    @include button-colors($normal: #909399, $hover: #a6a9ad, $active: #82848a);
  }

  &.warning {
    @include button-colors($normal: #e6a23c, $hover: #ebb563, $active: #cf9236);
  }

  &.danger {
    @include button-colors($normal: #f56c6c, $hover: #f78989, $active: #dd6161);
  }
}

.el-transfer-panel {
  width: 240px;
}

// 菜单图标居中
.el-menu-item .el-menu-tooltip__trigger {
  padding: 0 24px !important;
}
.el-menu-item.is-active {
  padding-left: 24px!important;
}
.el-menu-item {
  padding-left: 24px!important;
}

.el-sub-menu .el-tooltip__trigger {
  padding: 0 24px !important;
}
.el-sub-menu__title {
  padding-left: 24px!important;
}

// 部分区域
.dlg-custom {
  .el-input:not(.is-disabled) input[readonly] {
    background-color: #f5f7fa !important;
  }
  .select-trigger {
    .el-input:not(.is-disabled) input[readonly] {
      background-color: transparent !important;
    }
  }
  .el-dialog__body {
    padding: 8px var(--el-dialog-padding-primary);
  }
  hr {
    border: dashed 0.5px #eee;
    margin: 0 8px 16px 8px;
  }
}

.header {
  .right {
    justify-content: right;
    .el-button {
      margin: 0 0 0 6px !important;
    }
    .el-input {
      margin: 0 0 0 6px !important;
    }
  }
}

.mobile .header {
  .el-button {
    margin: 4px 4px 2px 0 !important;
  }
  .el-input {
    margin: 4px 4px 2px 0 !important;
  }
  .right {
    justify-content: left;
    text-align: left;
  }
}

.body .tabs {
  height: 100%;

  .el-tabs__item.is-active {
    font-weight: bold;
  }

  .el-tabs__content {
    padding: 0;
    min-height: calc(100vh - 148px);
  }
}

// el card
.body {
  .el-card {
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.05);
  }

  .el-form-item--default {
    margin-bottom: 30px;
  }
}

.el-card {
  .el-card__header {
    font-size: 16px;
    color: var(--ts-primary);
    font-weight: 700;
  }
}

.el-table {
  .el-link {
    margin: 0 8px 0 2px;
  }
  .el-link .el-icon--right.el-icon {
    vertical-align: text-bottom;
  }
}