/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'var.scss';

@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* reset css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 300px;
  color: var(--ts-text-color);
  font-size: var(--ts-font-size-sm);
  background-color: var(--ts-bg-color);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(216, 221, 228, 0.5);
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3);
  background-clip: padding-box;
  border-radius: 5px;
  min-height: 40px;
  cursor: pointer;

  &:hover {
    transition: background-color 0.3s;
    background-color: rgba(144, 147, 153, 0.8);
  }
}

ol,
ul {
  list-style: none;
}

.time-range-page {
  .search-item {
    width: 380px !important;
  }
}

.iconfont { text-align: center; font-size: 16px; vertical-align: middle; line-height: 30px; }

.el-table {
  .table-header-row {
    color: var(--ts-header);
  }
}

.right {
  text-align: right;
}

.flex {
  display: flex !important;
}

h3 {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 {
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
}

.p8 {
  padding: 8px
}

.p12 {
  padding: 12px;
}

.pl8 {
  padding-left: 8px;
}
.pb8 {
  padding-bottom: 20px;
}

.plrb12 {
  padding: 2px 12px 12px 12px;
}

.mb2 {
  margin-bottom: 2px;
}

.mt8 {
  margin-top: 8px;
}
.mt12 {
  margin-top: 12px;
}
.mt16 {
  margin-top: 16px;
}
.ml8 {
  margin-left: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mr12 {
  margin-right: 12px;
}

mb2 {
  margin-bottom: 2px;
}

.mr4 {
  margin-right: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mb16 {
  margin-bottom: 16px;
}
.ml16 {
  margin-left: 16px;
}
.tw1 {
  width: 140px;
}
.tw2 {
  width: 150px;
}
.tw3 {
  width: 220px;
}

.mw-320 {
  max-width: 320px;
}

.readonly .luckysheet {
  // border: 1px solid #000;
  // border: 1px solid rgba(0, 0, 0, 0.05);
  border: 0;
}

.hint {
  color: var(--ts-text-hint-color)
}