/* 暗黑 - 主题颜色 */
:root {
  --ts-primary: #2d8cf0;
  --ts-success: #67c23a;
  --ts-warning: #e6a23c;
  --ts-error: #f56c6c;
  --ts-header:#1d1e23;
  --ts-header-txt:#333;
  --ts-header-tab-border-color: #e9eaec;
  --ts-header-btn-border-color: #f0f1f2;
  --ts-menu: #33343a;
  --ts-menu-hover: #242d4d;
  --ts-menu-txt: rgba(255, 255, 255, 0.7);
  --ts-menu-txt-active: rgba(255, 255, 255, 0.75);
  --ts-menu-txt-hover: #fff;
  --ts-menu-sub: #101117;
  --ts-tab-active: #fff;
  --ts-tab-shadow: #eee;
  --ts-nav: #fff;
  /* 顶部导航条高度 */
  --ts-topHeaderH: 45px;
  --ts-topMenuOffset: 0;
  --ts-header-logoH: 45px;
  --ts-header-logo-lineH: 45px;
  /* PageTab 行高度 */
  --ts-topTabH: 50px;
  /* 菜单栏宽度 */
  --ts-menuW: 40px;
  --ts-menuExW: 280px;

  /* 行为相关颜色 */
  --ts-border: 1px solid #dedede;
  --ts-border-radius: 2px;
  --ts-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

  /* 文字基本颜色 */
  --ts-text-color: #0b1527; // 基本色
  --ts-text-hint-color: #909090;

  /* 背景色 */
  --ts-bg-color: #fefefe;
  --ts-theme-shadow: #999;

  // font
  --ts-font-size-xl: 20px; // 特殊 大字体
  --ts-font-size-lg: 18px; // 大标题
  --ts-font-size-md: 16px; // 标题
  --ts-font-size-sm: 14px; // 正文
  --ts-font-size-xs: 12px; // 辅助文字
}